
#navbar{
    display: flex;
    width:100%;
    height:70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    top: 0px;
}
#navbar>img{
    margin-left: 50px; 
}
#navbtn{
    height:35px;
    width:15%;
    padding:8px;
    margin-right:50px;
    display: flex;
    justify-content: space-evenly;
}
#navbtn>button{
    padding:0 20px;
    border-radius: 10px;
    border:0px;
}
#navbtn>button:nth-child(1){
    border:.5px solid black;
    background-color: white;
    font-weight: 550;
    color:#1A2E44
}
#navbtn>button:nth-child(2){
    background-color:#45E890;
    color:white;
    font-weight: bolder;
}
#loginbox{
    width:80%;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    margin:8% auto;     
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
#leftbox{
    
    display: flex;
    padding:10px;
    width:75%;
    flex-direction: column;
    margin-left:10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#leftbox>p:nth-child(1){
    font-size: 33px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color:#1A2E44;
}
.logbtn{
    /* width:50%; */
    /* width:75%; */
    margin-left:0px;
    margin-bottom: 20px;
    padding:15px 60px;
    border-radius: 10px;
    border:.5px solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logbtn:hover{
    background-color: rgb(86, 101, 131);
}
.logbtn>img{
    width:18px;
    text-align: center;
    margin-right: 5px;
}
#leftbox>button+p{
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#leftbox>a{
    text-align: center;
    color:#4C83EE;
}
#leftbox>a:link{
    color:lightblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#leftbox>input{
    /* width:50%; */
    margin-left:0px;
    margin-bottom: 20px;
    padding:15px 60px;
    border-radius: 10px;
    border:.1px solid lightgrey;

}

#leftbox>input+button{
  
    margin-left:0px;
    margin-bottom: 20px;
    padding:15px 60px;
    border-radius: 10px;
    border:.5px solid black;
    background-color: rgb(69, 232, 144);
    color: white;
    border:0px;
    font-weight: bold;
}

#rightbox{
    height:65%;
    width:85%;
    
    margin-top:27%; 
    margin-left:15%;
    
}
#rightbox>p{
    text-align: center;
    font-weight: bold;
    color:#1A2E44;
    margin-top: -10px;
}

#chokor{
    height:100px;
    width:100px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:20px 0px 0 40px;
}
#chokor:hover{
    border:2px solid #22D172;
}
#chokor>span{
    font-family:fantasy;
}
#chokor>img{
    width:100%;
}
#socialmedia{
    width:150px;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border:1px solid black;
}
#socialmedia>img{
    width:20%;
    opacity: .8;
}
#socialmedia+p{
    margin-top:60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1A2E44;
}
#footer{
    width:100%;
    border:1px solid black;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    
}
#footer>div>h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#1A2E44;
    text-align: justify;
}
#footer>div>p{
    font-size: 14px;
    color:#1A2E44;
    text-align: justify;
}
